header{
	margin-bottom: 5em;
}
.logo{
	margin-top: -0.3em;
}
.caja-busqueda{
	background: black;
}
.cont-res/*conenenedor de los resultados por item*/
{
	width: 60%;
	margin-bottom: 2em;
}
.boton{/*para elegir el semestre*/
	background: blue;
}
.li-student{
	margin-top: 2em;
	margin-bottom: 0.5em;
}
.li-teacher{
	margin-bottom: 1em;
}
.li-url{
	margin-bottom: 2em;
}
@media screen and (max-width: 768px){
	header{
	margin-bottom: 8em;
}
.cont-res/*conenenedor de los resultados por item*/
{
	width: 98%;

}